<h3>{{model.username}}</h3>

<dl class="dl-horizontal">
    <dt>ID</dt>
    <dd>{{model.id}}</dd>
    <dt>Type</dt>
    <dd>user</dd>
    <dt>Username</dt>
    <dd>{{model.username}}</dd>
    <dt>Email Address</dt>
    <dd>{{model.email}}</dd>
    <dt>Created At</dt>
    <dd>{{model.createdAt}}</dd>
    <dt>Last Modified At</dt>
    <dd>{{model.lastModifiedAt}}</dd>
</dl>
